/**
* Importing by selector filtering example
* https://github.com/maoberlehner/node-sass-magic-importer/tree/master/packages/node-sass-magic-importer#selector-filtering
 */
.util-color-red {
  color: red;
}

.util-color-blue {
  color: blue;
}

.util--normalized {
  font-size: 2px;
}

/**
* Importing by glob example
* https://github.com/maoberlehner/node-sass-magic-importer/tree/master/packages/node-sass-magic-importer#globbing
 */
.component-1-from-example-1 {
  padding: 1px;
}

.component-1-from-example-2 {
  padding: 1px;
}

.component-2-from-example-2 {
  padding: 1px;
}
